*{
    background-color: #f5e9e2;
}
#content{
    margin-top: 80px;
    background-color:#e3b5a4 ;
    width: 400px;
    height: 400px;
    align-items: center;  /* vertical center */
    justify-content: center;  /* horizontal center */
    margin-left: 390px;
    border-radius: 20px;
   box-shadow: 0 0 25px gray;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#content h3{
     background-color:#e3b5a4 ;
    padding: 10px;
    padding-left: 25px;
   text-align: center;
}
#btn{
    background-color: #e3b5a4;
    text-align: center;
    margin-top: 16px;
}
#givendata{
    background-color: #e3b5a4;
    text-align: center;
}
#result{
    background-color: #e3b5a4;
    text-align: center;
    margin-top: 9px;
}